doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CoCom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 CoCom
        main
            div#myStream
                video#myFace(autoplay,playsinline, width="400", height="400") 
                button#mute Mute
                button#camera Turn Camera off
                select#cameras
        script(src="/socket.io/socket.io.js")    
        script(src="/public/js/app.js")
        // playinline은 모바일 브라우저에서 사용(핸드폰에서 전체화면 등)